SECRET_KEY=z4XE7rLQONub25D3phldRlrlTHe2tLtROsWl7EcRECldrapAs8AtReS28cu9iFra
DEFAULT_USER_EMAIL=mr.william.technician1988@gmail.com
DEFAULT_MANAGER_USERNAME=systemadmin
UPLOAD_FOLDER=static/uploads
FACE_DATA=static/face_data
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USE_SSL=false
MAIL_USERNAME=ssbcapital.noreply@gmail.com
MAIL_PASSWORD=jmoydmgyvqtjnhpa
MAIL_DEFAULT_SENDER=ssbcapital.noreply@gmail.com
WEB_HOST_URL=http://172.16.1.232:5001
