{% extends "member_base.html" %}

{% block stylecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/input_personal.css') }}">
{% endblock %}

{% block title %}
<title>Nhập thông tin theo cá nhân</title>
{% endblock %}

{% block content %}
<div class="content">
    <!-- Button Group -->
    <div class="button-group">
        <button class="btn btn-active">Nhập thông tin cá nhân</button>
        <button class="btn btn-inactive">Nhập thông tin theo lô</button>
    </div>

    <!-- Card Section -->
    <div class="card">
        <h4>Hãy quét mã QR trên thẻ CCCD</h4>
        <div class="qr-placeholder">
            <video id="camera-stream" autoplay></video>
            <img id="captured-image" style="display: none;" alt="Captured QR Frame">
        </div>
        <div id="qr-result-container" style="display: none;">
            <p id="qr-result"></p>
            <button class="btn btn-capture" id="reset-button">Reset</button>
        </div>
    </div>
</div>
{% endblock %}


{% block stylejs %}
<script src="https://cdn.jsdelivr.net/npm/@zxing/library@latest/umd/index.min.js"></script>
<script src="{{ url_for('static', filename='js/custom/input_personal.js') }}"></script>
{% endblock %}