<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/library/bootstrap.min.css') }}">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/library/bootstrap-icons.css') }}">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom/common.css') }}">

    <meta charset="utf-8">

    <meta charset="utf-8">
    {% block title %}
    <title>Dashboard - HRM Application</title>
    {% endblock %}
    {% block stylecss %}

    {% endblock %}
  </head>
  <body>

  <!-- Sidebar -->
  <div class="sidebar">
    <div>
      <div class="sidebar-header" onclick="window.location.href='{{ url_for('core.daskboard') }}'" >
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="HRM Logo">
        <h5>HRM Application</h5>
      </div>
      <a href="{{ url_for('core.daskboard') }}" data-target="#daskboard" id="index" class="main-button">
        <span class="icon">&#127968;</span> <!-- Home Icon -->
        <span class="text">Trang Chủ</span>
      </a>


      <!-- Main Button with Submenu -->
      <a href="#" class="main-button " data-toggle="submenu" data-target="#infoSubmenu">
        <span class="icon">&#128196;</span>
        <span class="text">Nhập thông tin</span>
      </a>
      <div class="submenu" id="infoSubmenu">
        <a href="{{ url_for('core.input_personal') }}"  id="input_personal">Nhập theo cá nhân</a>
        <a href="{{ url_for('core.batch_input') }}" id="batch_input">Nhập theo lô</a>
      </div>

      <a href="#" class="main-button" data-toggle="submenu" data-target="#registerSubmenu">
        <span class="icon">&#128101;</span> <!-- User Icon -->
        <span class="text">Đăng ký ra vào</span>
      </a>
      <div class="submenu" id="registerSubmenu">
        <a href="{{ url_for('core.register_relative') }}" id="register_relative">Người thân</a>
        <a href="{{ url_for('core.register_soldier') }}" id="register_soldier">Quân Nhân</a>

      </div>

      <a href="#" class="main-button" data-toggle="submenu" data-target="#mgrInfoSubmenu">

        <span class="icon">&#128196;</span>
        <span class="text">Quản lý thông tin</span>
      </a>
      <div class="submenu" id="mgrInfoSubmenu">
        <a href="{{ url_for('core.import_manager') }}" id="import_manager">Thêm Quản Lý</a>
        <a href="{{ url_for('users.soldier_info') }}" id="soldier_info">Thông tin Quân Nhân</a>
        <a href="{{ url_for('core.reports') }}" id="reports">Báo cáo quân nhân</a>
        <a href="{{ url_for('core.relative_reports') }}" id="relative_reports">Báo cáo người thân</a>
      </div>

      <!-- Main Button with Submenu -->
      <a href="#" class="main-button " data-toggle="submenu" data-target="#settingSubmenu">
        <span class="icon">&#9881;</span>
        <span class="text">Quản lý hệ thống</span>
      </a>
      <div class="submenu" id="settingSubmenu">
        <a href="{{ url_for('core.military_units') }}"  id="input_military_units">Đơn vị</a>
      </div>

    </div>


    <button class="logout" onclick="window.location.href='{{ url_for('users.logout') }}'">Logout</button>
  </div>

  <!-- Header -->
  <div class="header">
    <h1></h1>
    <div class="user-menu">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle" style="display: flex; align-items: center; gap: 10px;">
          <img src="{{ url_for('static', filename='images/user.png') }}" alt="User" style="width: 30px; height: 30px; border-radius: 50%;"> <!-- User Avatar -->
          <span>{{ current_user.username if current_user.username else "Guest" }}</span>
        </a>
        <div class="dropdown-menu">
          <a href="{{ url_for('users.soldier_info_personal_user', user_id=current_user.id) }}" class="d-flex align-items-center gap-2">
            <i class="bi bi-person"></i> <!-- Profile Icon -->
            <span>Profile</span>
          </a>
          <a href="#" class="d-flex align-items-center gap-2">
            <i class="bi bi-gear"></i> <!-- Settings Icon -->
            <span>Settings</span>
          </a>
          <a href="#" class="d-flex align-items-center gap-2 text-danger" onclick="window.location.href='{{ url_for('users.logout') }}'" >
            <i class="bi bi-box-arrow-right"></i> <!-- Logout Icon -->
            <span>Logout</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->


  {% block content %}

  {% endblock %}

  <!-- Footer -->
  <div class="footer">
    &copy; 2024 HRM Application. All rights reserved.
  </div>



  <script src="{{ url_for('static', filename='js/library/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/library/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/library/bootstrap.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/custom/common.js') }}"></script>

  {% block stylejs %}

  {% endblock %}


  </body>
</html>
