{% extends "base.html" %}

{% block title %}
<title>HRM Application - Error</title>
{% endblock %}

{% block stylecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/login.css') }}">
{% endblock %}

{% block content %}


<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="login-container">
        <img class="img-fluid rounded-3" src="{{ url_for('static', filename='images/logo.png') }}" alt="HRM Logo">
        <h2 class="login-title">Error</h2>


        <div class="text-center mt-2">
            <p>{{ error_message }}</p>
        </div>
        <p class="footer">© 2024 HRM Application. All rights reserved.</p>
    </div>
</div>


{% endblock %}