{% extends "member_base.html" %}

{% block stylecss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom/reset_second_password.css') }}">

{% endblock %}

{% block title %}
<title>HRM - Reset Second Password</title>
{% endblock %}

{% block content %}
<div class="content">
    <div class="reset-password-container">
        <h2>Đặt lại mật khẩu cấp hai</h2>
        {% if error_message %}
        <div class="alert alert-danger text-center">{{ error_message }}</div>
        {% endif %}

        <form id="reset-password-form" method="POST" action="{{ url_for('core.reset_second_password', token=token) }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token_value }}">
            <input type="hidden" name="loginId" value="{{ loginId }}">
            <div class="form-group">
                <label for="new_password">Mật khẩu mới</label>
                <input
                        type="password"
                        id="new_password"
                        name="new_password"
                        class="form-control"
                        required
                        placeholder="Nhập mật khẩu mới của bạn"
                />
                <span id="password-error" class="error-message"></span>
            </div>
            <div class="form-group">
                <label for="confirm_password">Xác nhận mật khẩu</label>
                <input
                        type="password"
                        id="confirm_password"
                        name="confirm_password"
                        class="form-control"
                        required
                        placeholder="Xác nhận mật khẩu mới của bạn"
                />
                <span id="confirm-password-error" class="error-message"></span>
            </div>
            <div class="buttons">
                <button type="submit" class="btn btn-confirm">Xác nhận</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block stylejs %}
<script src="{{ url_for('static', filename='js/custom/reset_second_password.js') }}"></script>
{% endblock %}